// COLORS

$color-primary: #e52a3b;
$color-secondary: #FFCC91;
$color-black: #1C1D22;
$color-grey-1: #f7f5f5;
$color-grey-2: #BEC0CA;
$color-grey-3: #5E6366;
$color-grey-4: #53545C;
$color-green: #519C66;
$color-red: #CC5F5F;
$color-blue: #899df8;
$color-yellow: #949057;


$color-label-green: #15803d;
$color-label-green-light: #dcfce7;
$color-label-blue: #0369a1;
$color-label-blue-light: #e0f2fe;
$color-label-red: #b91c1c;
$color-label-red-light: #fee2e2;
$color-label-yellow: #a16207;
$color-label-yellow-light: #fef9c3;
$color-label-dark: #1C1D22;

//FONTS

$font-huge: 5.8rem;
$font-big: 2.7rem;
$font-medium: 2.1rem;
$font-small: 1.5rem;
$font-extra-small: 1.2rem;


// ROUNDED
$rounded-full: 50%;
$rounded-normal: 1.2rem;