// COLORS

$color-primary: #5570F1;
$color-secondary: #FFCC91;
$color-black: #1C1D22;
$color-grey-1: #EEF0FA;
$color-grey-2: #BEC0CA;
$color-grey-3: #5E6366;
$color-grey-4: #53545C;
$color-green: #519C66;
$color-red: #CC5F5F; 


//FONTS

$font-huge: 5.8rem;
$font-big: 2.7rem;
$font-medium: 2.1rem;
$font-small: 1.5rem;
$font-extra-small: 1.2rem;


// ROUNDED
$rounded-full: 50%;
$rounded-normal: 1.2rem;
