*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fee2e2;
  border-radius: 10000px;
  cursor: pointer;
  transition: 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #e52a3b;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backdrop-color);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.required-error-message {
  color: #CC5F5F;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.recharts-default-legend {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bordered-cards .card {
  border: 1px solid #1C1D22;
  height: 18rem;
  font-size: 1.3rem;
  padding: 1.5rem;
}

.date {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid #BEC0CA;
  transition: 0.3s ease;
}
.date:focus {
  outline: none;
}
.date--primary:focus {
  border: 1px solid #e52a3b;
}
.date--green:focus {
  border: 1px solid #519C66;
}
.date--red:focus {
  border: 1px solid #CC5F5F;
}

a.active {
  background-color: transparent;
  color: white;
}

a.active p {
  background-color: transparent;
  color: white;
}

li:has(a.active) {
  background-color: #e52a3b;
  color: #fff;
}

.cutted {
  background-color: #fee2e2;
  width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  margin-left: 2rem;
}
.cutted h1 {
  color: #CC5F5F;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.cutted .flex {
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-top: 1px solid;
  padding-top: 1rem;
  font-weight: bold;
  color: #5E6366;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.min-h-fit {
  min-height: fit-content !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.333334%;
}

.w-25 {
  width: 25%;
}

.w-16 {
  width: 16.6666%;
}

.w-25px {
  width: 25px;
}

.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.font-bold {
  font-weight: 800;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fw-mid {
  font-weight: 500;
}

.color-dark {
  color: #1C1D22 !important;
}

.color-grey-3 {
  color: #5E6366 !important;
}

.color-red {
  color: #CC5F5F;
}

.bb-1 {
  border-bottom: 1px solid;
}

.text-center {
  text-align: center !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-5 {
  gap: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-auto {
  margin-left: auto;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative;
}

.position-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.overflow-auto {
  overflow: auto;
}

.text-align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

@keyframes opan-modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
.spinner {
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e52a3b 94%, rgba(0, 0, 0, 0)) top/10px 10px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, #e52a3b);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 10px), #000 0);
  animation: spinner 1.5s infinite;
}

.heading-1 {
  font-size: 2.7rem;
  font-weight: 300;
  color: #53545C;
}

.heading-2 {
  font-size: 2.1rem;
  font-weight: 300;
  color: #5E6366;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #5E6366;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 15vw) 1fr;
  grid-template-rows: 8rem 1fr;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.header__info {
  border-bottom: 1px solid #5E6366;
  padding: 2rem 2rem 1rem;
}
.header__routes {
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__routes img {
  cursor: pointer;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: 2rem 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.logo__name {
  color: #53545C;
}
.logo__img {
  width: 20rem;
}

.nav {
  list-style: none;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  background-color: #f7f5f5;
  grid-column: 2/3;
  grid-row: 2/3;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-rows: max-content max-content minmax(10rem, calc(100vh - 33.5rem));
  padding: 1.5rem;
}

.wrapper {
  background-color: #fff;
  height: 100%;
  margin: 2rem 0;
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
}

.menu-item {
  padding: 1.5rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.menu-item__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.menu-item__text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #53545C;
}
.menu-item--active, .menu-item:hover {
  background-color: #e52a3b;
}
.menu-item--active > a > p, .menu-item:hover > a > p {
  color: #fff;
}

.notification {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #FFCC91;
  color: #1C1D22;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(94, 99, 102, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  cursor: pointer;
}
.support__text {
  color: #1C1D22;
  font-size: 1.5rem;
}

.gift {
  background-color: rgba(255, 204, 145, 0.2);
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
}
.gift__line-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: #1C1D22;
}
.gift__text {
  font-size: 1.5rem;
}
.gift__line-2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5E6366;
}
.gift__line-2 img {
  margin-left: 2rem;
}

.logout {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #CC5F5F;
  cursor: pointer;
}

.tophead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid #f7f5f5;
}

.user-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.user-nav__name {
  background-color: rgba(255, 204, 145, 0.2);
  padding: 1rem 2rem;
  border-radius: 1.2rem;
}
.user-nav__notification {
  cursor: pointer;
}
.user-nav__photo {
  cursor: pointer;
}

.route-display {
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
}

.btn {
  border-radius: 1rem;
  text-wrap: nowrap;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  width: fit-content;
}
.btn:disabled {
  opacity: 0.5;
}
.btn:active, .btn:hover {
  filter: brightness(85%);
}
.btn--primary {
  background-color: #e52a3b;
}
.btn--primary-transparent {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #e52a3b inset;
  color: #e52a3b;
}
.btn--primary-transparent:hover {
  filter: brightness(100%);
  background-color: #e52a3b;
  color: #fff;
}
.btn--green {
  background-color: #519C66;
}
.btn--green-transparent {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #519C66 inset;
  color: #519C66;
}
.btn--green-transparent:hover {
  filter: brightness(100%);
  background-color: #519C66;
  color: #fff;
}
.btn--red {
  background-color: #CC5F5F;
}
.btn--red-transparent {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #CC5F5F inset;
  color: #CC5F5F;
}
.btn--red-transparent:hover {
  filter: brightness(100%);
  background-color: #CC5F5F;
  color: #fff;
}
.btn--red-light {
  background-color: #fee2e2;
  color: #b91c1c;
}
.btn--red-light:hover {
  filter: brightness(100%);
  background-color: #CC5F5F;
  color: #fff;
}
.btn--black {
  background-color: #1C1D22;
}
.btn--black-transparent {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #1C1D22 inset;
  color: #1C1D22;
}
.btn--black-transparent:hover {
  filter: brightness(100%);
  background-color: #1C1D22;
  color: #fff;
}
.btn--small {
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
.btn--medium {
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
}
.btn--big {
  padding: 1rem 3rem;
  font-size: 1, 5rem;
}

.section-heading {
  grid-column: 1/-1;
  padding: 1rem 0;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-heading > h2 {
  flex: 1;
}

.section-stats {
  grid-column: 1/-1;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.table {
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  align-content: start;
  position: relative;
}
.table__header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #BEC0CA;
  border-bottom: 1px solid #BEC0CA;
  font-size: 1.2rem;
  color: #5E6366;
  font-weight: 300;
  text-align: start;
  height: fit-content;
  padding: 1rem;
}
.table__body {
  margin-bottom: 2rem;
}
.table__row {
  display: grid;
  margin-top: 1.5rem;
}
.table__row--with-borders {
  border: 1px solid;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.table__item {
  font-size: 1.2rem;
  color: #5E6366;
  font-weight: 300;
  text-align: start;
}

.sub-section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75vw;
  min-height: 60vh;
  z-index: 10000;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 2rem;
  transform: translate(-50%, -50%);
}
.modal__wrapper {
  display: flex;
  gap: 2rem;
  height: 100%;
}
.modal__wrapper--vertical {
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 2.1rem;
  background-color: rgba(255, 204, 145, 0.2);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}
.modal__submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 4rem;
}
.modal__submit button {
  display: block;
  flex: 1;
}

.no-orders {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 20vw;
  margin: auto;
}
.no-orders__icon {
  height: 8rem;
  width: 8rem;
  background-color: rgba(190, 192, 202, 0.3);
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 3rem;
}
.no-orders__heading {
  text-align: center;
  font-size: 1.5rem;
  color: #1C1D22;
  font-weight: 500;
}
.no-orders__text {
  text-align: center;
  font-size: 1.2rem;
  color: #BEC0CA;
}

.create-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.create-form__heading {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.create-form__heading h4 {
  color: #5E6366;
  font-size: 1.5rem;
  font-weight: 300;
}
.create-form__heading label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: #5E6366;
}
.create-form__field {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #f7f5f5;
  width: 100%;
}
.create-form__field:focus-visible {
  border: none;
  outline: none;
}
.create-form label {
  position: relative;
}
.create-form label img {
  position: absolute;
  top: 50%;
  left: 1rem;
}
.create-form .label {
  margin: 0 0 1rem 0.5rem;
  color: #5E6366;
}
.create-form textarea {
  min-height: 20rem;
  max-width: 100%;
  min-width: 100%;
}

.create-form--customer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.create-form__field--name {
  grid-column: 1/-1;
}
.create-form__field--adress {
  grid-column: 1/-1;
}
.create-form__field--country {
  grid-column: 1/3;
}
.create-form__field--number {
  grid-column: 3/-1;
}
.create-form__field--payment {
  grid-column: 1/4;
}
.create-form__field--type {
  grid-column: 4/7;
}
.create-form__field--date {
  grid-column: 1/-1;
}
.create-form__field--note {
  grid-column: 1/-1;
}

.products-list {
  padding: 2rem;
  width: 50%;
  height: 80%;
}
.products-list h4 {
  color: #5E6366;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.products-list__search {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  display: block;
  border: 1px solid #BEC0CA;
}
.products-list__search:focus {
  outline: none;
}
.products-list__items {
  padding: 2rem 0;
  height: 45vh;
  overflow-y: scroll;
}
.products-list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #BEC0CA;
  gap: 2rem;
}
.products-list__item > span {
  flex: 1;
}

.search {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: block;
  border: 1px solid #BEC0CA;
  transition: 0.3s ease;
}
.search:focus {
  outline: none;
}
.search--primary:focus {
  border: 1px solid #e52a3b;
}
.search--green:focus {
  border: 1px solid #519C66;
}
.search--red:focus {
  border: 1px solid #CC5F5F;
}

.order-view__heading {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.order-view__heading p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.order-view__heading p span {
  font-size: 1.2rem;
  color: #BEC0CA;
}
.order-view__client-details {
  grid-column: 1/-1;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.order-view__pdf-btn {
  margin-left: auto;
  padding: 2rem;
}
.order-view__total {
  border-top: 1px solid #BEC0CA;
  color: #1C1D22;
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}
.order-view__total span {
  font-weight: 300;
  color: #5E6366;
  margin-left: 10rem;
}

.client-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  font-size: 1.5rem;
}
.client-info__profile {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.client-info__mail {
  margin-left: 4rem;
}
.client-info__text p:not(:last-child) {
  margin-bottom: 1rem;
}
.client-info span {
  color: #5E6366;
  display: block;
  margin-top: 1rem;
}
.client-info i {
  color: #5E6366;
  margin-left: 1rem;
}

.client-location {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-size: 1.5rem;
}
.client-location__icon {
  height: 4.5rem;
}
.client-location span {
  color: #5E6366;
  display: block;
  margin-top: 1rem;
}

.order-type {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.5rem;
}
.order-type__icon {
  grid-column: 1/-1;
  height: 4.5rem;
}
.order-type__text {
  align-self: end;
}
.order-type span {
  color: #5E6366;
  display: block;
  margin-top: 1rem;
}

.widows-preview {
  background-color: #EEF0FA;
  height: 12rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 1rem;
}

.selected-item {
  border-right: 1px solid #BEC0CA;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  gap: 1rem;
}
.selected-item p {
  font-size: 1.5rem;
  font-size: 1rem;
  background-color: #f7f5f5;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.windows-options {
  position: absolute;
  top: 45%;
  background-color: #f7f5f5;
  padding: 1rem;
  border-radius: 5px;
  z-index: 100000;
  left: 15%;
}
.windows-options__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.windows-options__row p {
  font-weight: 800;
}

.room-materials-form {
  position: absolute;
  z-index: 1000;
  right: 0;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 9px #c8c8c8;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  flex: 1;
}
.card--primary {
  background-color: #fee2e2;
  color: #b91c1c;
}
.card--green {
  background-color: #dcfce7;
  color: #15803d;
}
.card__header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.card__header img {
  width: 30px;
}
.card__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
  text-wrap: nowrap;
  height: 100%;
}

.tag {
  display: block;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 8rem;
  text-align: center;
}

.completed {
  background-color: #dcfce7;
  color: #15803d;
}

.active {
  background-color: #dcfce7;
  color: #15803d;
}

.published {
  background-color: #e0f2fe;
  color: #0369a1;
}

.pending {
  background-color: #fef9c3;
  color: #a16207;
}

.in-progress {
  background-color: #e0f2fe;
  color: #0369a1;
}

.canceled {
  background-color: #fee2e2;
  color: #b91c1c;
}

.returned {
  background-color: #fee2e2;
  color: #b91c1c;
}

.damaged {
  background-color: #fee2e2;
  color: #b91c1c;
}

.in-active {
  background-color: #1C1D22;
  color: #fff;
}

.closed {
  background-color: #1C1D22;
  color: #fff;
}

.tool-icon {
  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
  width: 2rem;
}
.tool-icon:hover {
  opacity: 1;
}

.pdf {
  padding: 2rem;
  background-color: #f7f5f5;
  font-weight: 800 !important;
}
.pdf__items {
  padding: 3rem 2rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 1rem;
}
.pdf__rooms {
  padding: 3rem 2rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 1rem;
}
.pdf__room {
  margin-bottom: 5rem;
}
.pdf__room > h1 {
  border-bottom: 1px solid #BEC0CA;
  text-align: center;
  padding-bottom: 0.5rem;
}
.pdf__room-details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BEC0CA;
}
.pdf__room-materials {
  padding: 1rem;
  width: 50%;
  border-left: 2px solid #BEC0CA;
  overflow: hidden;
}
.pdf__room-materials > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pdf__room-windows {
  height: fit-content;
  padding: 1rem;
  width: 50%;
}
.pdf__room-windows > div {
  display: flex;
  gap: 14rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 8rem;
}
.pdf__room-windows img {
  width: 130px;
}
.pdf__room-notes {
  border-bottom: 2px solid #5E6366;
  padding: 2rem;
}

.window-details {
  position: relative;
  position: relative;
  border: 1px solid;
  padding: 1rem;
}
.window-details span {
  font-size: 1.6rem;
}

.window-width {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  top: -4rem;
  left: 0;
  align-items: center;
}
.window-width .window-line {
  width: 100%;
  height: 0.2rem;
  background-color: #5E6366;
}

.window-height {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  gap: 1rem;
  align-items: center;
  top: 0;
  left: -10rem;
}
.window-height .window-line {
  height: 100%;
  width: 0.2rem;
  background-color: #5E6366;
}

.window-heightType {
  position: absolute;
  left: -32%;
  bottom: 0;
  font-size: 3rem !important;
}

.dashboard {
  height: calc(100vh - 110px);
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto) 1fr;
}
.dashboard .card:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.dashboard .card:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.dashboard .card:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.dashboard .card:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 2/4;
}
.dashboard .card:nth-of-type(5) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.dashboard .card:nth-of-type(6) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.dashboard .card:nth-of-type(7) {
  grid-column: 3/4;
  grid-row: 2/5;
}
.dashboard .card:nth-of-type(8) {
  grid-column: 1/3;
  grid-row: 4/5;
}

.schedule .table {
  margin-bottom: 5rem;
}
.schedule .table__row--with-borders {
  padding: 0 0 0 1rem !important;
  align-items: center;
  min-height: 6rem;
  grid-template-columns: 10rem 10rem 1fr !important;
}

.schedule-box {
  background-color: #f7f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  color: #53545C;
  border: 1px solid #53545C;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

.no-data {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menus__list {
  position: fixed;
  background-color: #f7f5f5;
  border-radius: 1rem;
  padding: 1rem;
  color: #53545C;
}
.menus__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.menus__list li img {
  cursor: pointer;
  width: 2.5rem;
  opacity: 0.5;
  transition: 0.2s ease;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.menus__list li img:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
