.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    // border: 1px solid $color-black;
    flex: 1;

    &--primary {
        background-color: $color-primary;

        color: #fff;
    }

    &__header {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
            width: 30px;
        }
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8rem;
        text-wrap: nowrap;
        height: 100%;
    }
}