.notification {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: $rounded-full;
    background-color: $color-secondary;
    color: $color-black;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}