.products-list {
    padding: 2rem;
    width: 50%;
    height: 80%;

    h4 {
        color: $color-grey-3;
        font-size: $font-extra-small;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__search {
        border-radius: .5rem;
        padding: .5rem 1rem;
        width: 100%;
        display: block;
        border: 1px solid $color-grey-2;

        &:focus {
            outline: none;
        }
    }

    &__items {
        padding: 2rem 0;
        height: 45vh;
        overflow-y: scroll;
    }

    &__item {
        &>span {
            flex: 1;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;
        padding: 0.5rem;
        border-bottom: 1px solid #BEC0CA;
        gap: 2rem;
    }
}