.table {
    padding: 2rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    overflow: auto;
    align-content: start;

    &__header {
        display: grid;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $color-grey-2;
        border-bottom: 1px solid $color-grey-2;
        font-size: $font-extra-small;
        color: $color-grey-3;
        font-weight: 300;
        text-align: start;
        height: fit-content;
        padding: 1rem 0;
    }

    &__row {
        display: grid;
        margin-top: 1.5rem;

        &--with-borders {
            border: 1px solid;
            margin-top: 1rem !important;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 1rem;
        }
    }

    &__item {
        font-size: $font-extra-small;
        color: $color-grey-3;
        font-weight: 300;
        text-align: start;
    }
}