.tag {
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    width: 8rem;
    text-align: center;
}

.completed {
    background-color: $color-green;
}

.active {
    background-color: $color-green;
}

.pending {
    background-color: $color-secondary;
}

.in-progress {
    background-color: $color-blue;
}

.canceled {
    background-color: $color-red;
}

.returned {
    background-color: $color-yellow;
}

.damaged {
    background-color: $color-black;
}

.in-active {
    background-color: $color-black;
}